.card {
    padding: 16px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 8px 16px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.08);
    font-weight: 600;
    font-size: 14px;
    font-family: sans-serif;
}

.page {
    transition: background 0.3s;
}

.page.visible {
    background: rgb(88 196 220);

    p {
        color: #fff;
    }
}

.page,
.page.visible {
    width: 100%;
}

.filler {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  font-size: 14px;

  p {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
  }
}

ul {
  padding-inline-start: 20px;
}

.fragment-refs {
    &-container {
        height: 200px;
        overflow: scroll;
        border: 1px solid black;
        border-radius: 5px;
        width: 300px;
        box-shadow: 2px 5px 15px 1px #000000;
    }

    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 10px;
    }
}
